
<a href = "/">Home</a>


<!--
  this is the new post form 
  pay special attention to the method and action attributes
  method="POST" and action="/posts" means it will go to the
  post "/posts" route defined in the app.rb file
 -->

 <h1 id="newpost">New Post Form</h1>
<form method="POST" action="/signup">
	<label for="user_id">Userid</label>
	<input type="text" name="user_id">
	<label for="body">Body</label>
	<input type="text" name="body">
	<input type="submit">
</form>



<!--  this is the New Post form -->
<h1 id="">All Posts</h1>
<ul class="postlist">
  <% @posts.each do |post| %>
  	<h3><strong>Title</strong><%= post.title %></h3>
    <li><strong>Id:</strong> <%= post.id %></li>
    <li><strong>Body:</strong> <%= post.body %></li>
    <li><strong>User Id:</strong><%= post.user_id %></li>
    <li><strong>Username:</strong><%= post.user_id %></li>
  <% end %>
</ul>